.banner{
    background: url("./image/banner.jpeg")
    no-repeat center center;
    background-size:cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: purple;
    height: 100vh;
    
}

.circle{
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
}

.circle i{
    position: relative;
    top: 30px;
}

